@page "/Recent"

@inject INobreakProvider _nobreak
@inject IMapper _mapper
@inject IDistributedCache _cache
@inject NavigationManager _navManager
@inject IOptions<AppSettings> _appSettings

<ReCAPTCHA OnAuthorized="DownloadValues" AllowIgnoreIfNotReady="true">
    <Content Context="action">
        <button @onclick="action.Submit" class="btn btn-warning float-right m-2">
            <span class="oi oi-data-transfer-download"></span> Baixar todo o histórico
            @if (action.Success is not null)
            {
                if (action.Success.Value)
                {
                    <span class="oi oi-check"></span>
                }
                else
                {
                    <span class="oi oi-circle-x"></span>
                }
            }
            else if (action.Processing)
            {
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            }
        </button>
    </Content>
</ReCAPTCHA>

<Table Source="_states" Virtualize="true">
    <Head>
        <th><span class="oi oi-clock"></span> <Name T="NobreakStateViewModel" For="s=>s.TimeAgo" /></th>
        <th><span class="oi oi-power-standby"></span> <Name T="NobreakStateViewModel" For="s=>s.PowerState" /></th>
        <th><span class="oi oi-bolt"></span> <Name T="NobreakStateViewModel" For="s=>s.VoltageIn" />/<Name T="NobreakStateViewModel" For="s=>s.VoltageOut" /></th>
        <th><span class="oi oi-lightbulb"></span> <Name T="NobreakStateViewModel" For="s=>s.LoadPercentage" /></th>
        <th><span class="oi oi-battery-full"></span> <Name T="NobreakStateViewModel" For="s=>s.BatteryVoltage" /></th>
    </Head>
    <Body Context="state">
        <td>@(new TimeSpan(Math.Max(TimeSpan.Zero.Ticks, state.TimeAgo.Ticks)).Format())</td>
        <td>
            <span class="badge badge-@(state.PowerState == Context.Entities.PowerStates.Grid ? "success":"danger")">
                @(state.PowerState.GetDisplayName())
            </span>
        </td>
        <td>@(state.VoltageIn)v <span class="oi oi-arrow-thick-right"></span> @(state.VoltageOut)v @@ @(state.FrequencyHz)hz</td>
        <td>@(state.LoadPercentage)% @(state.TemperatureC)ºC</td>
        <td>@(state.BatteryVoltage)v (@(state.BatteryPercentage)%)</td>
    </Body>
</Table>

<Timer Elapsed="Reload" Enabled="true" Interval="TimeSpan.FromSeconds(1)" />

@code {
    private List<NobreakStateViewModel> _states = new();

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    [CascadingParameter]
    public IModalService Modal { get; set; }

    private async Task Reload()
    {
        var recentValues = await _nobreak.GetRecentValuesAsync();
        _states = _mapper.Map<List<NobreakStateViewModel>>(recentValues);
        await InvokeAsync(StateHasChanged);
    }

    protected override Task OnInitializedAsync() =>
        Reload();

    private async Task DownloadValues()
    {
        if (_appSettings.Value.RequireLoginToDownloadValues && !(await authenticationStateTask).User.Identity.IsAuthenticated)
        {
            Modal.Show<Login>("Login");
            return;
        }
        var guid = RandomNumberGeneratorExtensions.RandomBase64Url();
        await _cache.SetStringAsync(guid, guid, new DistributedCacheEntryOptions
        {
            AbsoluteExpirationRelativeToNow = TimeSpan.FromSeconds(10)
        });
        _navManager.NavigateTo($"/DownloadValues", true, new
        {
            Token = guid
        });
    }
}
